In [1]:
import pandas as pd

In [4]:
obj=pd.Series([4,5,6,7])
obj

0    4
1    5
2    6
3    7
dtype: int64

In [24]:
obj2=pd.Series([7,8,9,10],index=['a','b','c','d'])
obj2

a     7
b     8
c     9
d    10
dtype: int64

In [25]:
obj2['c']

9

In [6]:
import numpy as np

In [14]:
b=np.arange(8)

In [15]:
b[b>2]

array([3, 4, 5, 6, 7])

In [20]:
d=np.arange(30,55)
d

array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52, 53, 54])

In [21]:
for i in range(25):
    print(d[i])

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54

In [28]:
obj3=pd.Series([4,-5,-7,8],index=['b','d','f','h'])
obj3

b    4
d   -5
f   -7
h    8
dtype: int64

In [29]:
'b' in obj3

True

In [30]:
dic = {'Texas':85000,'Ohio':45000,'Oregon':25000,'Utah':35000}

In [33]:
obj4=pd.Series(dic)
obj4

Texas     85000
Ohio      45000
Oregon    25000
Utah      35000
dtype: int64

In [34]:
s = {'Texas','Ohio','Oregon','California'}

In [36]:
obj5=pd.Series(obj4,index=s)
obj5

Texas         85000.0
Oregon        25000.0
California        NaN
Ohio          45000.0
dtype: float64

In [37]:
pd.isnull(obj5)

Texas         False
Oregon        False
California     True
Ohio          False
dtype: bool

In [38]:
pd.notnull(obj5)

Texas          True
Oregon         True
California    False
Ohio           True
dtype: bool

In [39]:
 obj4+obj5

California         NaN
Ohio           90000.0
Oregon         50000.0
Texas         170000.0
Utah               NaN
dtype: float64